<head>
    <link rel="stylesheet" href="http://localhost:3000/css/user-profile-style.css">
    <script src="https://kit.fontawesome.com/32393e27dc.js" crossorigin="anonymous"></script>
    <script src="http://localhost:3000/script.js"></script>
    <script src="http://localhost:3000/clickreview.js"></script>
</head>


<div class="header">
        <img src="http://localhost:3000/logo/logo-black.png" alt="logo" id="logo-black" class="header" />
        <div class="form-container">
            <form action="http://localhost:3000/search-food/results" method="POST">
                <i class="fas fa-light fa-magnifying-glass"></i>
                <input type="text" name="searchTerm" placeholder="Search for a restaurant, cuisine or a dish">
                <button type="submit"> Search </button>
            </form>
         </div>
</div>

<hr id="main-line"/>

    <div class="profile-header">
        <img src="http://localhost:3000/cover-photo.png" alt="cover-photo" id="cover-photo"/>
        <div class="bottom-left"><img src="http://localhost:3000/{{userData.avatar}}" id="{{userData.username}}" alt="{{userData.username}}"><h3>{{userData.username}}</h3></div>
        <div class="center-right"><button id="edit" onclick="editProf()"> <i class="fa-regular fa-pen-to-square"></i> Edit profile </button></div>
        <div id="editModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <h2>Edit Profile</h2>
              <form id="editForm" action="http://localhost:3000/user-profile/edited/{{userData._id}}" method="POST" enctype="multipart/form-data">                
                <label for="profile-description">Description:</label>
                <textarea id="profile-description" name="profile-description" rows="4"></textarea>

                <div id="profpic">
                    <label for="profilepic">Profile Picture:</label>
                    <label for="profile-picture" class="custom-file-upload">
                      <i class="fas fa-upload"></i> Upload Profile Picture
                    </label>
                    <label>
                        <input type="file" id="profile-picture" name="profile-picture" accept="image/*" style="display: none;">
                    </label>
                </div>
                  
                <div class="save-edit-button-container">
                    <input type="submit" value="Save Changes">
                  </div>
              </form>
              
            </div>
          </div>
        <div class="bottom-right"><a href="#reviews-content"><span>{{userData.no_of_reviews}}</span><p>Reviews</p></a></div>
    </div>

    <div class="description-content">
        <h2>Description</h2>
        <p>{{userData.description}}</p>
    </div>

 <hr id="main-line" style="width: 1050px; height:5px; background-color:darkgreen;"/>

 <div class="filters">
    <i class="fas fa-sharp fa-light fa-filter"></i> 

    <select class="dropdown-reviews-filters" onchange="navigateToPage(this, '{{userData._id}}')">
        <option selected value="latest">  Latest Reviews And Comments </option>
        <option value="all">  All Reviews And Comments </option>
    </select>
 </div>

 <h2 class = "tag"> Latest Reviews </h2>

{{#if userReviews.length}}
    {{#each userReviews}}
                <h2> <a href="/restaurant-front/{{restaurant_id._id}}"> For {{restaurant_id.name}} </a> </h2>

                <div class="review clickable-review" onclick="navigateToReview('{{restaurant_id._id}}', '{{_id}}')">
                            <div class="profile">
                                <a href="/user-profile/{{../userData._id}}">
                                    <img src="http://localhost:3000/{{../userData.avatar}}" alt="profile-pic-{{../userData.avatar}}" />
                                </a>
                                <div class="name-details">
                                    <p id="name">{{../userData.username}}</p>
                                </div>
                            </div>
                            <div class="rating2">
                                <p id="rating-num">&nbsp;{{rating}} ⁕&nbsp; </p>
                                <p id="dine-in2">DINE-IN </p>
                                <p id="date">{{date_posted_formatted}} </p>
                            </div>

                            <div class="content">
                                <p id="title">{{title}} </p>
                                <div class="positive-or-negative">
                                {{#if positive}}
                                    <i class="fa-solid fa-thumbs-up" style="color: #38af3a;"></i>
                                    <p id="preference" style="color: #38af3a;">POSITIVE</p>
                                {{else}}
                                    <i class="fa-solid fa-thumbs-down" style="color: #c72222;"></i>
                                    <p id="preference" style="color: #c72222;">NEGATIVE</p>
                                {{/if}}
                                </div>
                            </div>

                            <div class="headings">
                                {{#each review_keywords}}
                                    <p>&nbsp;&nbsp;{{this}}&nbsp;&nbsp;</p>
                                {{/each}}
                            </div>

                            <p id="votes-and-comments"><span id="no-of-votes-helpful">{{helpful_no}}</span> votes for helpful, <span id="no-of-votes-unhelpful">{{unhelpful_no}} </span> votes for unhelpful, <span id="no-of-comments">{{comments_no}}</span> comments</p>
                        
                            <hr class="review-highlights2"/>
                </div>
    {{/each}} 
{{else}}
    <h3 id="none">No reviews available.</h3>
{{/if}}

 <h2 class = "tag"> Latest Comments</h2>

{{#if userComments.length}}
    {{#each userComments}}
        <h2> <a href="/restaurant-front/{{review_id.restaurant_id._id}}"> For {{review_id.restaurant_id.name}} </a> </h2>

        <div class="comment clickable-review" onclick="navigateToReview('{{review_id.restaurant_id._id}}', '{{review_id._id}}')">
            <div class="comment-profile">
                <img src="http://localhost:3000/{{../userData.avatar}}" alt="{{../userData.username}}" />
                <p id="commentor">{{../userData.username}}</p>
                <hr />
                <div>
                    <p id="comment">{{content}}</p>
                    <p id="sent-details">Sent {{date_commented_formatted}}</p>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <h3 id="none">No comments available.</h3>
{{/if}}







